{% macro title() %}Edit Profile{% endmacro %}
<form class='grouping narrow' method='POST' action='.'>
 <div class='title'>Edit My Profile</div>
 <table class='groupcontent altrow'>
  <thead>
  {% if success %}
   <tr>
    <td colspan='2'>
     Profile saved successfully.
     {% if password_changed %}Your password was changed.{% endif %}
    </td>
   </tr>
  {% endif %}
  {% if password_error %}
   <tr class='error'>
    <td colspan='2'>Current Password is incorrect.</td>
   </tr>
  {% endif %}
  {% if password_mismatch %}
   <tr class='error'>
    <td colspan='2'>New Password and Confirm Password do not match.</td>
   </tr>
  {% endif %}
  </thead>
  <tr>
   <td class='label'>Change&nbsp;Password:</td>
   <td class='value field'>
    <table class='altrow'>
     <tr>
      <td class='label'>Current Password:</td>
      <td class='value'><input type='password' name='password' /></td>
     </tr>
     <tr>
      <td class='label'>New Password:</td>
      <td class='value'><input type='password' name='newpassword' /></td>
     </tr>
     <tr>
      <td class='label'>Confirm Password:</td>
      <td class='value'><input type='password' name='confirm' /></td>
     </tr>
    </table>
   </td>
  </tr>
  <tr>
   <td class='label'>Title:</td>
   <td class='value'><input type='text' name='title' value="{{ user.title|e }}" /></td>
  </tr>
  <tr>
   <td class='label'>Signature:</td>
   <td class='value'>
    <textarea name='signature'>{{ user.signature_raw|e }}</textarea>
    <div class='field'>
    <input type='checkbox' name='use_bbcode'
     {% if user.signature_use_bbcode %}checked='checked'{% endif %} />
    Apply bbcode formatting to your signature
  </div>
   </td>
  </tr>
 </table>
 <div class='groupactions'>
  <input type='submit' value='Save Changes'>
 </div>
</form>
