{% for category in categories %}
 <div class='grouping'>
  <div class='icon'></div>
  <div class='title'>{{ category.title }}</div>
  <div class='groupcontent altrow'>
   {%- for forum in category.forums -%}
    <div class='forum'>
     {# TODO: read/unread #}
     <a href='/forum/{{ forum.urlkey }}/' class='title'>{{ forum.title }}</a>
     <div class='lastpost'>
      Last Post:
      {% if forum.last_post.title %}
       <span class='title'>{{ forum.last_post.title }}</span>
       at
       <span class='timestamp'>{{ forum.last_post.timestamp.strftime('%m/%d/%Y %I:%M %p') }}</span>
      {% else %}
       None
      {% endif %}
     </div>
    </div>
   {%- endfor -%}
  </div>
 </div>
{% endfor %}
