{% macro title() %}Log In{% endmacro %}
<form class='grouping login' method='POST' action='login'>
 <div class='title'>Log In</div>
 <table class='groupcontent'>
  {% if error %}
   <tr>
    <td colspan='2' class='error'>
     The requested username does not exist, or the password is incorrect.
    </td>
   </tr>
  {% endif %}
  <tr>
   <td class='label'>Username:</td>
   <td class='value'><input type='text' name='username' value='{{ username }}' /></td>
  </tr>
  <tr>
   <td class='label'>Password:</td>
   <td class='value'><input type='password' name='password' /></td>
  </tr>
 </table>
 <div class='groupactions centered'>
  <a href='/register'>Register</a>
  <input type='submit' name='login' value='Log In' />
 </div>
</form>
