{% macro title() %}Log Out{% endmacro %}
<form class='grouping login' method='POST' action='logout'>
 <div class='title'>Log Out</div>
 <table class='groupcontent'>
  <tr>
   <td>
    You will be logged out in this browser.
   </td>
  </tr>
  <tr>
   <td>
    <input type='checkbox' name='everywhere' value='1' />
    Log me out everywhere
   </td>
  </tr>
 </table>
 <div class='groupactions centered'>
  <input type='submit' name='logout' value='Log Out' />
 </div>
</form>
