{% macro title() %}Member List{% endmacro %}
<div class='grouping'>
 <div class='title'>Member List</div>
 <table class='groupcontent altrow autosize'>
  <thead>
   <tr>
    <th width='30%'>Username {{ sort.n }}</th>
    <th width='25%'>Title {{ sort.t }}</th>
    <th width='15%'>Post Count {{ sort.pc }}</th>
    <th width='30%'>Join Date {{ sort.j }}</th>
   </tr>
  </thead>
  {% for user in users %}
   <tr>
    <td><a href='../{{ user.urlkey }}'>{{ user.username }}</a></td>
    <td>{{ user.title }}</td>
    <td>{{ user.post_count }}</td>
    <td>{{ user.joined.strftime('%m/%d/%Y %I:%M %p') }}</td>
   </tr>
  {% endfor %}
 </table>
 <div class='groupactions'>
  {{ pager }}
 </div>
</div>
