<span class='pagecontrols'>
 Page:
 {% for page in pagelist %}
  {% if page is sameas True %}
   <span class='ellipsis'>...</span>
  {% elif page == current %}
   <span class='current'>{{ page }}</span>
  {% else %}
   <a href='{{ page }}{{ querystring }}'>{{ page }}</a>
  {% endif %}
 {% endfor %}
</span>
