<html>
<head>
 <title>
  {% if title %}
   {{ title }} -
  {% endif %}
  ABoard Forums
 </title>
 <link rel='stylesheet' href='/static/style.css' />
</head>
<body>
<div class='header'>
 <span class='logo'>
  <a href='/'>ABoard Forums</a>
 </span>
 {% if session.logged_in %}
  Logged in as
  <a href='/user/{{ session.user.entity.urlkey }}'>{{ session.user.entity.username }}</a>
  |
  <a href='/logout'>Log Out</a>
 {% else %}
  <a href='/login'>Log In</a>
  |
  <a href='/register'>Register</a>
 {% endif %}
 |
 <a href='/user/list/'>Member List</a>
</div>

<div class='content'>
 {{ content }}
</div>

<div class='footer'>
 ABoard 3.0 Software Copyright &copy; 2016 Adam Higerd
</div>
</body>
</html>
