{% macro title() %}{{ kwargs.thread.title }}{% endmacro %}
<div class='grouping'>
 <div class='title'>
  <a href='../../forum/{{ thread.forum.entity.urlkey }}'>{{ thread.forum.entity.title }}</a>
  &rarr;
  {{ thread.title }}
 </div>
 <div class='groupcontent altrow'>
  {% for post in posts %}
   <div class='post' id='{{ post.urlkey }}'>
    <table>
     <tr>
      <td class='postinfo'>
       <div class='username'>{{ post.poster.entity.username }}</div>
       {% if post.poster.entity.title %}
        <div class='usertitle'>{{ post.poster.entity.title }}</div>
       {% endif %}
       <div class='timestamp'>Posted at {{ post.timestamp.strftime('%m/%d/%Y %I:%M %p') }}</div>
       {% if post.poster == session.user %}
        <div class='groupactions'>
         <a href='../../post/{{ post.urlkey }}/edit'>Edit</a>
        </div>
       {% endif %}
      </td>
      <td class='postbody'>
       {{ post.html }}
       {% if post.edit_timestamp and post.edit_timestamp > post.timestamp %}
        <div class='timestamp'>Last edited at {{ post.edit_timestamp.strftime('%m/%d/%Y %I:%M %p') }}</div>
       {% endif %}
       {% if post.use_signature and post.poster.entity.signature %}
        <hr/>
        {{ post.poster.entity.signature }}
       {% endif %}
      </td>
     </tr>
    </table>
   </div>
  {% endfor %}
 </div>
 <div class='groupactions'>
  {{ pager }}
  {% if session.logged_in %}
   <a href='post'>Reply to Thread</a>
  {% endif %}
 </div>
</div>
