{% macro title() -%}
 {% if kwargs.new_thread %}
  Posting in {{ kwargs.forum.title }}
 {% elif kwargs.editing %}
  Editing post in {{ kwargs.thread.title }}
 {% else %}
  Posting in {{ kwargs.thread.title }}
 {% endif %}
{%- endmacro %}
<form class='grouping posteditor' method='POST'
 {% if new_thread %}
  action='/forum/{{ forum.urlkey }}/newthread'
 {% elif editing %}
  action='/post/{{ post.urlkey }}/edit'
 {% else %}
  action='/thread/{{ thread.urlkey }}/post'
 {% endif %}
>
 <div class='title'>
  {% if editing %}
   Editing post in
  {% else %}
   Posting in
  {% endif %}
  {% if new_thread %}
   <a href='../../forum/{{ forum.urlkey }}'>{{ forum.title }}</a>
  {% else %}
   <a href='../../thread/{{ thread.urlkey }}'>{{ thread.title }}</a>
  {% endif %}
 </div>
 <div class='groupcontent centered withpadding'>
  {% if post.body %}
   <div class='postpreview'>
    <div class='header'>
     Post Preview{% if new_thread %}: {{ thread.title }}{% endif %}
    </div>
    <div class='postbody'>{{ post.html }}</div>
   </div>
  {% endif %}
  {% if no_title %}
   <div class='error field'>A thread title is required.</div>
  {% endif %}
  {% if no_body %}
   <div class='error field'>The post body may not be empty.</div>
  {% endif %}
  {% if new_thread or first_post %}
   <table class='field'>
    <tr>
     <td class='label'>Title:</td>
     <td class='value'><input type='text' name='title' value="{{ thread.title|e }}" /></td>
    </tr>
   </table>
  {% endif %}
  <textarea name='body'>{{ post.body|e }}</textarea>
  <div class='field'>
   <input type='checkbox' name='use_bbcode' value='1'
    {% if post.use_bbcode %}checked='checked'{% endif %}>
   Apply bbcode formatting to this post
  </div>
  <div class='field'>
   <input type='checkbox' name='use_signature' value='1'
    {% if post.use_signature %}checked='checked'{% endif %}>
   Show your signature below this post
  </div>
 </div>
 <div class='groupactions centered'>
  <input type='submit' name='preview' value='Preview' />
  <input type='submit' name='post' value='{% if editing %}Edit{% else %}Post{% endif %}' />
 </div>
</form>
