{% macro title() %}{{ kwargs.user.username }}{% endmacro %}
<div class='grouping autowidth'>
 {% if user.key == session.user %}
  <div class='groupactions title'>
   <a href='.' class='actionbutton'>Edit My Profile</a>
  </div>
 {% endif %}
 <div class='title'>
  User Profile: {{ user.username }}</div>
 <table class='groupcontent altrow'>
  <tr>
   <td class='label'>Title:</td>
   <td class='value'>{{ user.title }}</td>
  </tr>
  <tr>
   <td class='label'>Joined:</td>
   <td class='value'>{{ user.joined.strftime('%m/%d/%Y %I:%M %p') }}</td>
  </tr>
  <tr>
   <td class='label'>Posts:</td>
   <td class='value'>{{ post_count }}</td>
  </tr>
  <tr>
   <td class='label'>Signature:</td>
   <td class='value'>{{ user.signature }}</td>
  </tr>
 </table>
</div>
