{% macro title() %}Register{% endmacro %}
<form class='grouping login' method='POST' action='register'>
 <div class='title'>Register</div>
 <table class='groupcontent field'>
  {% if missing_fields %}
  <tr>
   <td colspan='2' class='error'>
    Please fill in all fields.
   </td>
  </tr>
  {% endif %}
  {% if name_in_use %}
  <tr>
   <td colspan='2' class='error'>
    The requested username is in use.
   </td>
  </tr>
  {% endif %}
  {% if invalid_email %}
  <tr>
   <td colspan='2' class='error'>
    Please provide a valid e-mail address.
   </td>
  </tr>
  {% endif %}
  {% if password_mismatch %}
  <tr>
   <td colspan='2' class='error'>
    "Confirm Password" did not match "Password".
   </td>
  </tr>
  {% endif %}
  <tr>
   <td class='label'>Username:</td>
   <td class='value'><input type='text' name='username' value="{{ username }}" /></td>
  </tr>
  <tr>
   <td class='label'>Password:</td>
   <td class='value'><input type='password' name='password' /></td>
  </tr>
  <tr>
   <td class='label'>Confirm Password:</td>
   <td class='value'><input type='password' name='confirm' /></td>
  </tr>
  <tr>
   <td class='label'>E-mail Address:</td>
   <td class='value'><input type='text' name='email' value="{{ email }}" /></td>
  </tr>
 </table>
 <div class='groupactions centered'>
  <input type='submit' name='register' value='Register' />
 </div>
</form>

