<div class='arrows'>
  <a href='{{ uplink }}'><div class='sort-up {% if up %}active{% endif %}'></div></a>
  <a href='{{ downlink }}'><div class='sort-down {% if down %}active{% endif %}'></div></a>
</div>
