<html>
<head>
<title>Source Index</title>
</head>
<body>
<h2>Source files:</h2>
<ul>
 {% for module in modules %}
  <li><a href='{{ module }}'>{{ module }}.py</a></li>
 {% endfor %}
</ul>
</body>
</html>
