<html>
<head>
<title>{{ title }}</title>
<link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet" type="text/css" />
<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPython.js" type="text/javascript"></script>
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
</head>
<body>
<h2>{{ title }}</h2>
<pre class='brush: python'>{{ source|e }}</pre>
<script>
SyntaxHighlighter.all();

function getNextPlain(node) {
  var node = node.nextSibling;
  while(node && (!node.className || node.className.indexOf("plain") == -1)) {
    node = node.nextSibling;
  }
  return node;
}

function addLink(moduleNode, from) {
  if(!from) from = '';
  var modules = moduleNode.innerHTML.split(',');
  var html = '';
  for(var module in modules) {
    module = modules[module].trimLeft();
    var ws = '';
    while(module[module.length-1] == ' ') {
      ws += ' ';
      module = module.substr(0, module.length - 1);
    }
    if(html) html += ", ";
    html += "<a href='" + from + module + "'>" + module + "</a>" + ws;
  }
  moduleNode.innerHTML = html;
}

function addLinks() {
  var didSomething = false;
  [].slice.call(document.getElementsByClassName("keyword"))
    .filter(function(node) { 
      return node.innerHTML == "import";
    })
    .map(function(node) {
      var from = ""
      if(node.parentElement.firstChild.innerHTML == "from") {
        var fromModuleNode = getNextPlain(node.parentElement.firstChild);
        from = fromModuleNode.innerHTML.trim() + ".";
        addLink(fromModuleNode);
      }
      var moduleNode = getNextPlain(node);
      if(moduleNode) {
        addLink(moduleNode, from);
      }
      didSomething = true;
    });
  if(!didSomething) {
    window.setTimeout(addLinks, 0);
  }
}
addLinks();
</script>
</body>
</html>
