{% macro title() %}{{ kwargs.forum.title }}{% endmacro %}
<div class='grouping'>
 <div class='title'>{{ forum.title }}</div>
 <div class='thread header'>
  <div class='title'>Title</div><div class='poster'>Started By</div><div class='postcount'>Posts</div><div class='lastpost'>Last Post</div>
 </div>
 <div class='groupcontent altrow'>
  {% for thread in threads %}
   <div class='thread'>
    {# TODO: read/unread #}
    <div class='title'>
     <a href='/thread/{{ thread.urlkey }}/' class='title'>{{ thread.title }}</a>
    </div><div class='poster'>
     {{ thread.poster.entity.username }}
    </div><div class='postcount'>
     {{ thread.last_post.count }}
    </div><div class='lastpost'>
     Last Post by
     <span class='title'>{{ thread.last_post.poster.entity.username }}</span><br/>
     at
     <span class='timestamp'>{{ thread.last_post.timestamp.strftime('%m/%d/%Y %I:%M %p') }}</span>
    </div>
   </div>
  {% endfor %}
 </div>
 <div class='groupactions'>
  {{ pager }}
  {% if session.logged_in %}
   <a href='/forum/{{ forum.urlkey }}/newthread'>New Thread</a>
  {% endif %}
 </div>
</div>
