FG_COLOR = black
FG_ACTION = white
BG_BODY = white
BG_HEADER = #C0C0C0
BG_MID = #D4D4D4
BG_LIGHT = #F8F8F8
BG_ALTROW = #E8E8E8
BG_ACTION = #202020
FONT_FAMILY = Times New Roman, serif

* {
  box-sizing: border-box;
}

html {
  background: $BG_BODY;
  padding: 0;
  font-size: 16px;
  font-family: $FONT_FAMILY;
}

table {
  border-spacing: 0;
}

th {
 background: $BG_MID;
 padding: 4px;
 text-align: left;
}

td {
  padding: 4px;
}

input[type=text], input[type=password], textarea {
  border: 1px solid $FG_COLOR;
  background: $BG_BODY;
  padding: 2px;
  width: 100%;
  max-width: 600px;
}

body > .header {
  text-align: right;
  height: 40px;
  clear: all;
}

.header .logo {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  float: left;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.grouping {
  background: $BG_HEADER;
  margin: 0.5em;
  padding: 0 4px 4px 4px;
}

.grouping.narrow {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.grouping > .icon {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 4px 0;
  background: white;
  display: inline-block;
  vertical-align: middle;
}

.grouping > .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  font-weight: bold;
  margin: 4px;
}

.grouping .groupactions {
  margin-top: 4px;
  text-align: right;
}

.grouping .groupactions.centered,
.grouping .groupcontent.centered {
  text-align: center;
}

.groupactions.title {
 float: right;
 margin-right: 0;
}

a.actionbutton,
button.actionbutton,
input.actionbutton,
.groupactions a,
.groupactions button,
.groupactions input[type=button],
.groupactions input[type=reset],
.groupactions input[type=submit] {
  display: inline-block;
  background: $BG_ACTION;
  padding: 4px 8px;
  margin-left: 4px;
  color: $FG_ACTION;
  text-decoration: none;
  pointer: cursor;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: $FONT_FAMILY;
  font-weight: normal;
}

.pagecontrols a {
  padding: 3px 4px 2px;
}

.pagecontrols span {
  margin-left: 4px;
}

.groupactions.title a {
  margin: 0;
  color: $FG_ACTION;
}

.grouping .groupcontent {
  background: $BG_LIGHT;
  width: 100%;
}

.groupcontent.withpadding {
  padding: 8px;
}

.altrow {
  background: $BG_LIGHT;
}

.altrow > div:nth-of-type(even),
.altrow > tbody > tr:nth-of-type(even) {
  background: $BG_ALTROW;
}

.forum {
  padding: 8px;
}

.forum > .title {
  font-size: 18px;
  font-weight: bold;
}

.forum > .lastpost {
  font-size: 14px;
}

.thread {
  padding: 4px;
}

.thread.header {
  background: $BG_MID;
  font-weight: bold;
}

.thread > div {
  display: inline-block;
  vertical-align: middle;
}

.thread > .title {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thread > .poster {
  width: 20%;
}

.thread > .postcount {
  width: 10%;
}

.thread > .lastpost {
  font-size: 12px;
  width: 25%;
}

.thread.header > .lastpost {
  font-size: 16px;
}

a.title, .title a {
  color: $FG_COLOR;
}

a.title:hover, .title a:hover {
  color: $TEAL_MDARK;
}

.lastpost .title {
  vertical-align: bottom;
  display: inline-block;
  max-width: 35%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.readicon {
  float: left;
  margin: 2px 6px 2px 2px;
}

.post > table {
  width: 100%;
  table-layout: fixed;
}

.post .postinfo {
  width: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  vertical-align: top;
}

.postinfo .usertitle {
  font-size: 14px;
  font-style: italic;
}

.postinfo .timestamp, .postbody .timestamp {
  font-size: 12px;
}

.postbody {
  padding: 8px;
  vertical-align: top;
}

.field {
  margin: 4px auto;
}

.value.field {
  margin: 0;
  padding: 0;
}

.posteditor textarea, .posteditor .field {
  width: 100%;
  max-width: 600px;
  margin: 4px auto;
  text-align: left;
}

.posteditor textarea {
  height: 150px;
}

td.label {
  width: 0%;
  padding-right: 4px;
}

.field .label {
  white-space: nowrap;
}

.label, .value {
  vertical-align: top;
}

td.value {
  width: 100%;
}

.postpreview {
  background: $BG_HEADER;
  margin: 0 auto 8px;
  padding: 4px;
  text-align: left;
  width: 80%;
}

.postpreview .header {
  font-weight: bold;
  padding: 0 4px 4px;
}

.postpreview .postbody {
  background: $BG_ALTROW;
}

.login {
  margin: auto;
  max-width: 400px;
}

.login td {
  padding: 4px;
}

.error {
  text-align: left;
  padding: 4px;
  color: #C00000;
}

.arrows {
  display: inline-table;
  padding: 0;
  margin: 0;
  width: 8px;
  border-spacing: 0;
  border: none;
  vertical-align: middle;
}

.arrows a {
  border: none;
  display: table-row;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 6px;
  width: 8px;
}

.sort-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid $BG_LIGHT;
}

.sort-up.active {
  border-bottom: 4px solid $FG_COLOR;
}

.sort-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid $BG_LIGHT;
}

.sort-down.active {
  border-top: 4px solid $FG_COLOR;
}
